@page "/dentists"
@using WhiteDentalClinic.Application.Models;
@using WhiteDentalClinic.Shared;
@inject HttpClient Http
@using System.Text.Json;


<PageTitle>Dentists</PageTitle>

<h1>Dentists</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (dentists == null)
{
    <p><em>No dentists found.</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Age</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dentist in dentists)
            {
                <tr>
                    <td>@dentist.Id</td>
                    <td>@dentist.FirstName</td>
                    <td>@dentist.LastName</td>
                    <td>@dentist.Age</td>
                    <td>@dentist.Email</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<DentistResponseModel> dentists = new List<DentistResponseModel>();

    protected override async Task OnInitializedAsync()
    {
        var temp = await Http.GetFromJsonAsync<ApiResult<DentistResponseModel>>("api/Dentists");

        dentists = new List<DentistResponseModel>()
        {
            new DentistResponseModel
            {
                Id = temp.Result.Id,
                FirstName = temp.Result.FirstName,
                LastName = temp.Result.LastName,
                Age = temp.Result.Age,
                Email = temp.Result.Email
            }
        };
    }

    public class DentistResponseModel
    {
        public Guid Id { get; set; }
        public string FirstName { get; set; }
        public string LastName { get; set; }
        public int Age { get; set; }
        public string Email { get; set; }

    }
}
